<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Style/style.css">
    <title>Parrilla L'Asturianu</title>
</head>
<body>
    <header>
    <!--NEVEGACIÓN-->
    <nav>
        <div class="logo">
            <h3>L'ASTURIANU</br></h3>
        </div>
 
    <ul class="navegacion">
        <li>
            <a href=../../index.html>INICIO</a>
        </li>
        <li>
            <a href="#">CARTA</a>
        </li>
        <li>
            <a href="login.php">INICIAR SESIÓN</a>
        </li>
        <li>
            <a href="registro.php">REGISTRATE</a>
        </li>
    </ul>
    <div class="bigmac">
        <div class="1"></div>
        <div class="2"></div>
        <div class="3"></div>
    </div>
  </nav>
</header>
<!--FIN NAVEGACION-->

<!--SECCIÓN PRINCIPAL-->
<section class="carta">
        <h1>DISFRUTA DE NUESTRA CARTA</h1>
        <embed src="../../files/carta.pdf" type="application/pdf" width="800px" height="800px"/>
</section>
    <footer>
        <div class="contenedor">
            <p>&copy; Parrilla L'Asturiano 2022</p>
            <p>Todos los derechos reservados</p>
        </div>
    </footer>

  <script src="js/app.js"></script>

</body>
</html>